<a asp-area="OrganiMedCore.Manager"
   asp-controller="EVisitUserAdmin"
   asp-action="Edit" asp-route-id="@(((OrchardCore.Users.Models.User)Model.User).Id)"
   class="btn btn-primary btn-sm">
    @T["OrganiMed felhasználó szerkesztése"]
</a>