@model EditCenterUserFrontEndViewModel
@using OrganiMedCore.DiabetesCareCenterManager.ViewModels

@{ 
    ViewBag.Title = T["Felhasználó létrehozása"];
    RenderTitleSegments(ViewBag.Title);
}

<form asp-route="CreateDccmUserPost" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary()

    @Html.EditorForModel()

    @await DisplayAsync(await New.ButtonBar(
        Buttons: new[]
        {
            BarButton.Submit(T),
            BarButton.Cancel(T, Url.Action("Index", "Users", new { area = "OrganiMedCore.DiabetesCareCenterManager" }))            
        }))
</form>