@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }

  body {
    padding-top: 0;
    width: 1280px;
    margin: 0 auto;
  }

  .print-not-break {
    page-break-inside: avoid;
  }

  .diary-table .diary-table-row.row-first {
    @media print {
      position: relative;
      top: auto;
    }
  }

  .agp-chart-area-wrapper {
    margin-bottom: 100px;
  }

  .diary-print-margin {
    margin-top: 150px;
  }

  .diary-glucose-badge {
    color: $dark !important;

    .icon {
      font-size: 16px;
      display: inline;
    }
  }

  .diary-insulin-badge {
    color: $dark !important;
  }
}
