@font-face {
    font-family: 'H_Eras Bt Demi';
    src: url('../wwwroot/h_erbd.ttf');
}

[dir] {
    .ta-navbar-top {
        .ta-navbar-brand {
            width: auto;
            background-image: none;
            padding: 0;
            display: block;

            .brand {
                font-family: 'H_Eras Bt Demi';
                font-variant: small-caps;
                font-size: 30px;
                color: #5597D3;
                display: inline-block;
                padding-right: 8px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 2px;
                    height: 28px;
                    right: 0;
                    top: 9px;
                    background: #5597D3;
                }
            }

            .site-name {
                font-size: 16px;
                display: inline-block;
            }
        }
    }

    .ta-content {
        .omc-main-title {
            font-size: 4.5rem;
            font-weight: 300;
            line-height: 1.2;
        }
    }
}
