<div class="row">
    <div class="col-12">
        <a asp-area="OrganiMedCore.Organization"
           asp-controller="Reception"
           asp-action="AddToDailyList"
           asp-route-id="@Model.ContentItemId"
           class="btn btn-secondary">
            @T["Felvétel napi listára"]
        </a>
    </div>
</div>