<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="OrchardCore.Logging.NLog"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="${var:configDir}/App_Data/logs/orchard-log-${level:lowercase=true}-${shortdate}.log"
            layout="${longdate}|${orchard-tenant-name}|${aspnet-traceidentifier}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

    <target xsi:type="File" name="access-log" fileName="${var:configDir}/App_Data/logs/access-log-${shortdate}.log"
            layout="${longdate}|${orchard-tenant-name}|${message}" />

    <target xsi:type="File" name="task-membership-watch" fileName="${var:configDir}/App_Data/logs/task-membership-watch-${shortdate}.log"
            layout="${longdate}|${orchard-tenant-name}|${message}" />

    <target xsi:type="File" name="task-email-delivery" fileName="${var:configDir}/App_Data/logs/task-email-delivery-${shortdate}.log"
              layout="${longdate}|${orchard-tenant-name}|${message}" />

    <target xsi:type="File" name="task-unsubcp-nqueue" fileName="${var:configDir}/App_Data/logs/task-unsubcp-nqueue-${shortdate}.log"
              layout="${longdate}|${orchard-tenant-name}|${message}" />

    <!--<target xsi:type="Null" name="blackhole" /> -->
  </targets>

  <rules>
    <!--All logs-->
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="IntelliMed.OrganiMedCore.Organization.Core.Services.AccessLogService" minlevel="Info" writeTo="access-log" />
    <logger name="OrganiMedCore.DiabetesCareCenterManager.Services.DokiNetMembershipWatcher" minlevel="Info" writeTo="task-membership-watch" />
    <logger name="OrganiMedCore.Email.Services.EmailNotificationDeliveryService" minlevel="Info" writeTo="task-email-delivery" />
    <logger name="OrganiMedCore.DiabetesCareCenterManager.Services.RenewalPeriodService" minlevel="Info" writeTo="task-unsubcp-nqueue" />
  </rules>
</nlog>