<fieldset>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">@T["Mentés"]</button>
        <a class="btn btn-secondary" asp-route-action="Index" asp-area="OrchardCore.Users" asp-controller="Admin">@T["Mégse"]</a>
    </div>
</fieldset>
