<li class="nav-item">
    <a class="nav-link"
       asp-route-area="OrganiMedCore.Login"
       asp-controller="Account"
       asp-action="Login">
        <i class="fa fa-sign-in-alt fa-fw"></i>
        @T["Bejelentkezés"]
    </a>
</li>