@{ 
    string content = Model.Content;
}
<div id="information-oriented-info-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="@T["Információ"]" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 border-0">
                @Html.Raw(content)
            </div>
            <div class="modal-footer p-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T["Bezár"]</button>
            </div>
        </div>
    </div>
</div>