<div id="app"
     data-login-url="@Url.RouteUrl("UserApiLogin")"
     data-logoff-url="@Url.RouteUrl("UserApiLogOff")"
     data-aft-url="@Url.RouteUrl("AntiForgeryToken")">
</div>
<script asp-name="OrganiMedCore.PatientApp"></script>