<div class="jumbotron">
    <h1 class="omc-main-title mb-4">OrganiMed.Core</h1>
    <p class="lead m-0">@T["Üdvözöljük az OrganiMed.Core admin felületén!"]</p>
    <hr class="my-4">
    <p class="lead m-0">@T["Az induláshoz kérjük, válasszon egy element a bal oldali menüből."]</p>
</div>